<li>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="asker">
        Answered by: {{answer.name}},
        From: {{answer.location}}  {{answer.time}}
      </div>
    </div>
    <div class="panel-body">
      Answer: {{answer.description}}
    </div>
  </div>
</li>
