<h2>Welcome to Rainbow Heaven</h2>

{{question-form ask="ask"}}

<h3>All Questions:</h3>

<ol class="questions">
  {{#each model as |question|}}
   {{main-page question=question confirmUpdate="confirmUpdate"}}
  {{/each}}
</ol>
