<h2>Welcome to Rainbow Heaven</h2>

{{question-form ask="ask"}}

<h3>All Questions:</h3>
<div class="questions">
  <ol>
    {{#each model as |question|}}
     {{main-page question=question confirmUpdate="confirmUpdate"}}
    {{/each}}
  </ol>
</div>
